h1 {
	font-family: 'Exo', sans-serif;
	font-size: 50px;
}

p{
	font-family: 'Roboto', sans-serif;
}
.bigbig{
	font-size: 30px;
	width: 200px;
}
hr.style1 { 
  border: 0; 
  height: 2px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #000000, #f0f0f0); 
}
.fontborder{
	font-family: 'Titillium Web', sans-serif;
	color: #777777;
	text-shadow: -0.5px 0 black, 0 0.5px black, 1px 0 black, 0 -0.5px black;
	letter-spacing: 0.5px;
	
}
.errorcolor{
	color: red;
}