<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	  
	<head>
	    <title>Home</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
	    
	    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
	    <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'/>
	    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:700&display=swap" rel="stylesheet">
	    
	</head>

	<body>
		<div class="text-center">
			<div class="pt-5">
				<img th:src="@{images/logo.jpg}" width="350px" alt="Responsive image"/>				
			</div>
			<br>
				<hr class="style1" width="50%">
			<br>
			<div>		
				<p class="mb-5"><a class="btn btn-outline-dark bigbig fontborder" role="button" th:href="@{/registration}">SIGN UP</a></p>
		
				<p class="mt-5"><a class="btn btn-outline-dark bigbig fontborder" role="button" th:href="@{/login}">SIGN IN</a></p>
			</div>
		<br>
			<hr class="style1" width="50%">
		<br>	
		</div>
	</body>
</html>